<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>$!pageTitle</title>
<link rel="stylesheet" type="text/css" href="$!{stylesPath}stylesCommon/common-1.0.0.css" />
<link rel="stylesheet" type="text/css" href="$!{stylesPath}stylesCommon/frame-1.0.0.css" />
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/v1/frame-1.0.0.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/common-1.0.0.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/common_data_util.js"></script>
</head>
<body>
$screen_content
</body>
</html>

