<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>$!pageTitle</title>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/common-1.0.0.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/common_data_util.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scriptsCommon/common.list.js"></script>
<link rel="stylesheet" type="text/css" href="$!{stylesPath}stylesCommon/common-1.0.0.css" />
</head>
<body>
<input type="hidden" id="appsPath" value="$!{appsPath}" />
##<div id="navTitle" class="navTitle">
##	<a>系统管理  》 添加用户</a>
##</div>
$screen_content
</body>
</html>