#set($layout = "/layout/navLayout.vm")
<link rel="stylesheet" type="text/css" href="$!{stylesPath}scriptsCommon/jquery-ztree/css/zTreeStyle/zTreeStyle.css" />
<link rel="stylesheet" type="text/css" href="$!{stylesPath}stylesCommon/common.list-1.0.0.css" />
<script type="text/javascript" src="$!{stylesPath}scriptsCommon/jquery-ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="$!{scriptsPath}scripts/module/user/userListTree.js"></script>
<div id="mainListDiv">
<div id="queryDiv" >
<div id="treeDiv" class="ztree listTree"></div>
<div id="queryMore">
<table class="tb_query">
  <tr>
      <td>用户 </td>
      <td><input type="text" name="username" value="$!query.username" class="s_text"/></td>
  </tr>
  <tr>
      <td>真实姓名</td>
      <td><input type="text" name="name" value="$!query.name" class="s_text"/></td>
  </tr>
  <tr>
      <td>注册时间</td>
      <td><input type="text" name="gmtCreateStart" value="$!query.gmtCreateStart" class="s_text"/></td>
  </tr>
  <tr>
      <td>&nbsp;--</td>
      <td><input type="text" name="gmtCreateEnd" value="$!query.gmtCreateEnd" class="s_text"/></td>
  </tr>
  <tr>
      <td colspan="2" style="text-align:center;padding-top:5px;"><input type="button" id="query"></td>
  </tr>
</table>

</div>
</div>
<div id="rightListDiv">
<iframe id="frmEdit" name="frmEdit" src="$!{appsPath}/user/list.htm" width="100%" height="100%" frameborder="0" marginWidth="0" marginHeight="0" noResize="" scrolling="no"></iframe>
</div>
</div>