<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 <settings>
 <setting name="cacheEnabled" value="true" />
 <setting name="lazyLoadingEnabled" value="true" />
 <setting name="multipleResultSetsEnabled" value="true" />
 <setting name="useColumnLabel" value="true" />
 <setting name="useGeneratedKeys" value="false" />
 <setting name="defaultExecutorType" value="SIMPLE" />
 <setting name="defaultStatementTimeout" value="100" />
 <setting name="safeRowBoundsEnabled" value="false" />
 <setting name="mapUnderscoreToCamelCase" value="false" />
 <setting name="localCacheScope" value="SESSION" />
 <setting name="jdbcTypeForNull" value="OTHER" />
 <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
 </settings>
	<typeAliases> 
  		<typeAlias alias="Proxy" type="com.usefullc.crawler.domain.Proxy"/>
   		<typeAlias alias="TaskTemplate" type="com.usefullc.crawler.domain.TaskTemplate"/>
   		<typeAlias alias="HttpRes" type="com.usefullc.crawler.domain.HttpRes"/>
   		<typeAlias alias="ParseContent" type="com.usefullc.crawler.domain.ParseContent"/>
   		<typeAlias alias="Script" type="com.usefullc.crawler.domain.Script"/>
   		<typeAlias alias="TaskInstance" type="com.usefullc.crawler.domain.TaskInstance"/>
   		<typeAlias alias="TaskTpParam" type="com.usefullc.crawler.domain.TaskTpParam"/>
   	</typeAliases> 
	<mappers>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/ProxyMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/TaskTemplateMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/HttpResMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/ParseContentMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/ScriptMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/TaskInstanceMapper.xml"/>
  		<mapper resource="com/usefullc/crawler/mapper/mysql/TaskTpParamMapper.xml"/>
  	</mappers>
</configuration>